* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --main-color: rgb(0, 24, 59);
    --main-font: 'Poppins', sans-serif;
}

/* ======================
   Header/Navbar styling
=========================*/

header {
    text-align: center;
    box-shadow: 1px 1px 1px 1px var(--main-color);
}

.top-bar {
    height: 25px;
    background-color: var(--main-color);
}

.top-bar p{
    line-height: 25px;
    color: white;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: bold;
}

nav {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
     margin: 10px 0;
}

.logo img {
    width: 35vh;
    border-radius: 6px;
    box-shadow: 1px 1px 1px 1px var(--main-color);
}

.menu {
    text-align: center;
    position: relative;
}

.menu-item {
    height: 100%;
    display: inline-block;
    padding: 0 15px;
}

.menu li a {
    color: rgb(0, 0, 0);
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: .7em;
    font-weight: bold;
    text-transform: uppercase;
    transition-duration: 700ms;
    border-radius: 3px;
    line-height: 80px;
}

.menu-item:hover .down-arrow, .menu li a:hover{
    background-color: var(--main-color);
    color: white;
}

.menu-item:nth-last-child(2) a{
    padding: 12px 12px;
    border: 2px solid var(--main-color);
    background-color: var(--main-color);
    border-radius: 8px;
    color: white;
}

.menu-item:nth-last-child(2) a:hover{
    background-color: white;
    color: var(--main-color);
}

.menu-item:nth-last-child(1) a, .border-black{
    padding: 12px 6px;
    border: 2px solid var(--main-color);
    border-radius: 8px;
    color: var(--main-color);
}

.menu-item:nth-last-child(2) a::before, .menu-item:nth-last-child(1) a::before {
    content:"\2713 ";
    padding: 0 5px;
}

.down-arrow::after {
    content:" \02c5";
    position: absolute;
    padding: 0 5px;
}

.hb-menu {
    display: none;
    cursor: pointer;
}

.hb-menu:hover {
    opacity: .8;
}

@media screen and (max-width: 1058px) {
    .logo {
        font-size: .75em;
    }

    .menu-item {
        padding: 0 8px;
    }
    .menu li a {
        font-size: .6em;
        padding: 10px;
    }
}


@media screen and (max-width: 768px) {
    .logo {
        font-size: 1em;
    }

   .menu {
       display: none;
   }

   .search {
       display: none;
   }

   .hb-menu {
       display: block;
   }
}

/* ======================
   Dropdown Menu styling
=========================*/

 .dd-menu {
     display: none;
     position: absolute;
     padding-top: 15px;
     text-align: left;
     top: 95px;
     width: 250px;
     min-height: 250px;
     background-color: white;
     border-top: solid var(--main-color) 3px;
     box-shadow:1px 1px 5px 5px var(--main-color);
     z-index: 3;
}

.dd-menu li {
    padding: 30px;
}

.dd-menu li a{
    padding-right: 50px;
}

.dd:hover .dd-menu {
    display: block;
}

/* ===================
   Slide menu styling
======================*/

#slide-menu-container {
    position: absolute;
    display: none;
    width: 70vw;
    top: 130px;
    background-color: white;
    padding: 30px;
    border: var(--main-color) 1px solid;
    box-shadow: .2px .2px 2px 2px rgb(206, 206, 206);
    border-top: solid var(--main-color) 4px;
    z-index: 3;
}

.dd-slide-item {
    margin-top: 20px;
    padding: 0 40px;
    box-shadow: .2px .2px 5px 5px var(--main-color);
}

.slide-content li{
    border-bottom: var(--main-color) solid 1px;
    padding: 10px 0;
    text-align: left;
    border-bottom: solid .3px rgb(240, 240, 240);
}

.slide-content li a {
    display: block;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: .9em;
    color: var(--main-color);
    cursor: pointer;
    padding: 15px 5px;
    border-radius: 4px;
}

.slide-content li a:hover {
    background-color: var(--main-color);
    color: white;
}

.border-blue{
    border: 2px solid var(--main-color);
    border-radius: 8px;
    color: rgb(33, 91, 251);
}

.border-black{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
}

.border-blue:hover, .border-black:hover{
    background-color: 2px solid var(--main-color);
    border-radius: 8px;
    color: white;
}

/* =================
   Main styling
===================*/

main {
    height: 80vh;
}

/* =================
   Footer styling
===================*/

footer {
    text-align: center;
    background-color: var(--main-color);
    border-top: 1px solid grey;
}

.footer-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.item {
    font-family: var(--main-font);
    flex-basis: 25%;
    color: white;
}

.item h4 {
    color: white;
    text-transform: uppercase;
}

.item a {
    color: white;
    text-transform: capitalize;
}

.item li {
    padding-top: 10px;
}

.bottom-bar {
    text-align: center;
    height: 25px;
    background-color: var(--main-color);
    color: white;
    border-top: solid 1px white;
}

.bottom-bar p {
    line-height: 25px;
}
